<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "bootstrap/functions";
@import "bootstrap/variables";
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}
.column {
  
  padding: 10px;
  height: 100vh;
}
.index{
    position: absolute;
    left: 9vw;
    top: -19vh;
    opacity: 0.8;
    font-size:min(1.8vw,5.5vh);
    color: #320113;
}
.indexUl{
  list-style: none;
  text-align: left;
  position: relative;
  top: 40vh;
  padding:1vw;
  overflow-y:hidden;
}
.indexUl li{
  color: white;
  padding:1.3vh;
  margin-left:1vw;
  font-size: min(1.5vw,5.2vh);
  display: flex;
  cursor: pointer;
  height:7vh;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.7vw;
line-height: 7vh;
}
.indexUl li:hover{
  background-color: #27252C;
  border-radius: 5px;
  left:2vw;
  width:13vw;
}
.indexUl li:active{
  background: linear-gradient(to right, #FFAECC 0%, #FFAECC 3%, #27252C 3%, #27252C 100%);
  border-radius: 5px;
  left:2vw;
  width:13vw;
}
.indexUl li:focus{
  background: linear-gradient(to right, #FFAECC 0%, #FFAECC 3%, #27252C 3%, #27252C 100%);
  border-radius: 5px;
  left:2vw;
  width:13vw;
}
.options{
    background-color: #C2C2C2;
}

.options:active{
    background-color: #CBFF96;
}
.options:focus{
    background-color: #CBFF96;
}


</style>
</head>
<body>
  <ion-input [autofocus]="inputTwoAutofocusEnabled" type="text"></ion-input>
<div class="row">
  <div class="column" style="background-color:#320113; width:24.3%; min-height:1000vh;">
    <div class="index">
        <ul class="indexUl">
            <li tabindex="2" autofocus style="border:hidden; outline: none;">Home</li>
            <li tabindex="1">Tags</li>
            <li tabindex="1">Users</li>
            <li tabindex="1">Investors</li>
        </ul>
    </div>
  </div>
  <div class="column" style="background-color:#27252C; width:75.7%;">
    <form>
        <button type="submit" style="background-color:#1B001C; height:6vh; width:3vw; margin-left:1.3vw; margin-right:-1vw;  border-radius: 10px; box-shadow: 0px 4px 4px #1B001C;outline: none;  border: hidden; color: white; width: 3vw;"><i class="fa fa-search"></i></button><input type="text" id="searchbar" name="searchbar" placeholder="  Search..." style="width:50vw; height:6vh; margin-left:0vw; background:#1B001C; border-radius: 10px; box-shadow: 0px 4px 4px #1B001C;outline: none;  border: hidden; color: white;"><br>
      </form> 
<button class="options" tabindex="1" autofocus onclick="" href="" class="btn" style="background-color:#CBFF96; position: absolute; left:25.3vw; top:20vh; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: min(2.5vh,1.5vw); line-height: min(2.5vh,1.5vw); cursor: pointer; border: 1px solid #000000; border-radius: 20px;">
Get Investments</button>
<button class="options" onclick="" href="" class="btn" style="position: absolute; left:35.3vw; top:20vh; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: min(2.5vh,1.5vw); line-height: min(2.5vh,1.5vw); cursor: pointer; border: 1px solid #000000; border-radius: 20px;">
    Discuss</button>
    <button class="options" onclick="" href="" class="btn" style="position: absolute; left:41.3vw; top:20vh; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: min(2.5vh,1.5vw); line-height: min(2.5vh,1.5vw); cursor: pointer; border: 1px solid #000000; border-radius: 20px;">
        Hire Devs</button>

    <img src="images/sort.jpg" alt="sort_button" style="position:absolute; top:26vh; cursor: pointer; width: 5.5vw; height:5vh; margin-left:1.3vw;">
    <div class="createnew" style="text-align: center; font-size: 2rem; color: red;">
        <button onclick="window.location.href='/create'" href="create.html" class="btn" style="background-color: #FFAEAE;position: absolute; right:5vw; top:25vh; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 1.5vw; line-height: 16px; cursor: pointer;">
            <i class='fas fa-edit' style='font-size:1.7vw'></i>Create new</button></div>
            <br>
            <div class="container-fluid">
        
                
                
          
            <% if (blogs.length === 0 ){ %>
       
              <h1 style="color:aliceblue">No posts yet.....</h1>
           
              
              <% } else { %>
           
                <div class="row mt-5">
                    
               <%  blogs.forEach(blog =>{   %>
                
                <div class="row" style="width:65vw; margin-top: 7vh; background-color: #1C1B1F; margin-left:0.4vw;">
                    <div class="col-md-2">
                      <div class="row" style="background-color:#27252C; height: 5vh; margin-top:1.8vh;  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 1vw; line-height: 0.8vw; color: #FFAEAE; text-align: center; padding-left:2.7vw; padding-top:1.1vh;">
                        __ Votes
                      </div>
                      <div class="row" style="background-color:#27252C; height: 5vh; margin-top:1.8vh;  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 1vw; line-height: 0.8vw; color: #FFAEAE; padding-left:2.7vw; padding-top:1.1vh;">
                        __ Offers
                      </div>
                      <div class="row" style="background-color:#27252C; height: 5vh; margin-top:1.8vh; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 1vw; line-height: 0.8vw; color: #FFAEAE; padding-left:3.7vw; padding-top:1.1vh;">
                        Active
                      </div>
                    </div>
                    <div class="col-md-10">
                    <div class="card text-white mb-3" style="background-color: #1C1B1F;">
                        <div class="card-header"><%= blog.heading %></div>
                         <div class="card-body">
                          <p class="card-text">writer : <%= blog.author %></p>
                     </div>
                     <div class ="card-footer d-flex justify-content-end">
                   
                       <a href= "/edit/<%= blog._id %>" class="mr -4 text-white"> <i  class="fas fa-edit"></i></a>
     
                       &nbsp&nbsp
                       &nbsp&nbsp
                       &nbsp&nbsp
     
     
                       <a href= "" class="mr -4 text-white"><i id= "<%= blog._id %>" onclick="deleteBtn(event)" class="fas fa-trash"></i> </a>
                       
                     </div>
                     
                   </div>
                </div>
                  </div>
                  
              <% }) %>
      
            </div>
      
            <% } %>

            
          </div>
          
         
      </div>
      
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
