<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
<nav class="navbar navbar-light" style="background-color: #1C1B1F; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));">
    <a class="navbar-brand"style="color: #FFFFFF; font-family: 'Zen Dots', cursive; font-style: normal; font-weight: 400; font-size: 3vw; line-height:5.6vh; position:relative; left:1.3vw;" href="">DevDeck</a>
    <i class="fa fa-bell" style="font-size:2.5vw;color:white; position: relative; left:36vw;"></i>
    <i class="fa fa-circle" style="font-size:3vw;color:#8BFF96; position: relative; padding-left: 1.4vw;"></i>

    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"style="color:white; text-shadow: 2px 2px black;"  href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link"style="color:white; text-shadow: 2px 2px black;"  href="/editor">editor<span class="sr-only">(current)</span></a>
          </li>
      </ul>

    </div>-->
</nav>